body {
    background-color: #FFE6ED;
    display: grid;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.authenticate {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
}

.nav-bar {
    background-color: #127334;
    grid-row: 3;
    height: 80px;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
}

.homeIcon {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: grid;
}

.homeIcon a:active {
    border-bottom: solid white;
  }

.profileIcon {
    grid-column: 2;
    align-self: center;
    justify-self: center;
    display: grid;
}

.profileIcon a:active {
    border-bottom: solid white;
  }

.infoIcon {
    grid-column: 3;
    align-self: center;
    justify-self: center;
    display: grid;
}

.infoIcon a:active {
    border-bottom: solid white;
  }

.home {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
}

.logo-home {
    grid-row: 1;
    height: 50px;
    justify-self: center;
    margin-top: 20px;
}

.home-content {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    grid-row: 2;
    justify-self: center;
}

.pin-input {
    justify-self: center;
    display: flex;
    margin: 20px;
}

.pin-input input {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 8px;
    border: 1.5px solid #127334;
    font-size: 35px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.home-content button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #127334;
    border-radius: 25px;
    padding: 5px;
    width: 80px;
    border: none;
}

.profile {
    display: grid;
    height: 100vh;
    grid-template-rows: 30% 1fr;
}

.profile-barcode {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-row: 1;
    background-color: #127334;
    height: 100%;
    width: 100%;
    text-align: center;
}

.barcode {
    justify-self: center;
    align-self: center;
    display:grid;

}

.profile-balance {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-row: 2;
}

.balance {
    background-color: white;
    justify-self: center;
    align-self: center;
    text-align: center;
    display: grid;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 1.5px solid #127334;
}

.profile-balance button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #127334;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    border: none;
}


.logoLogin {
    display: grid;
    grid-row: 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: end;
    width: 12rem;
    width: 12rem;
}


.login {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    display: grid;
    height: 100vh;
    width: 100vw;
}

.signup {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    display: grid;
    height: 100vh;
    width: 100vw;
}

.subHeaderLogin {
    grid-row: 2;
    grid-column: 2 / span 1;
    justify-self: center;
    display: grid;
}

.inputField input {
    border-radius: 25px;
    border: 2px solid #127334;
    padding: 20px; 
    width: 200px;
    height: 5px;
    display: grid;
    margin-bottom: 0.7rem;
    font-family: 'Poppins', sans-serif;
}

.loginForm {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: start;
    margin-top: 5rem;
}

.loginBtn {
    display: grid;
    border-radius: 25px;
    background-color: #127334;
    color: white;
    padding: 5px; 
    width: 120px;
    border: none;
    font-family: 'Poppins', sans-serif;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: end;
    margin-bottom: 5.5rem;
    font-size: 15px;
}

.newUser {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: end;
    margin-bottom: 2.5rem;
    font-size: 0.8rem;
}

.newUser a {
    text-decoration: none;
    color: black;
}

.newUser a:hover {
    text-decoration: underline;
}

svg path {
    fill: white;
}