body {
    background-color: #FFE6ED;
    display: grid;
    

}

.authenticate {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
}

.logo {
    display: grid;
    grid-row: 2;
    justify-content: center;
    align-self: center;
}




